.promo {
  background-color: #e8e8e8;
}

.promo_inner {
  box-sizing: border-box;
  max-width: 1280px;
  padding: 0 70px;
  margin: 0 auto;
  background-image: url('../../images/svg/landing-logo.svg');
  background-repeat: no-repeat;
  min-height: 574px;
  background-size: 310px 304px;
  background-position: calc(100% - 70px) 75px;
}

.promo__title {
  margin: 0;
  padding-top: 75px;
  width: 640px;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  color: #000000;
}

.promo__faculty {
  display: block;
}

.promo__desc {
  padding-top: 36px;
  margin-bottom: 146px;
  width: 310px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.5;
}

@media screen and (max-width: 990px) {
  .promo_inner {
    background-position: 50% 140px;
    padding: 0 50px 76px;
  }

  .promo__title {
    max-width: 680px;
    width: auto;
    margin: 0 auto;
    padding-top: 492px;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__faculty {
    display: inline;
  }

  .promo__desc {
    padding-top: 22px;
    width: auto;
    max-width: 260px;
    text-align: center;
    margin: 0 auto 92px;
  }
}

@media screen and (max-width: 760px) {
  .promo_inner {
    background-size: 210px 206px;
    background-position: 50% 70px;
    padding: 0 14px 30px;
  }

  .promo__title {
    width: 300px;
    padding-top: 320px;
    font-size: 30px;
    line-height: 38px;
  }

  .promo__desc {
    margin-bottom: 80px;
  }
}
