.about-project, 
.about-progress {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  font-style: normal;
  font-weight: normal;
}

.about-project__block {
  width: 550px;
}

.about-project__subtitle {
  font-style: inherit;
  font-weight: inherit;
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.about-project__paragraph {
  font-size: 14px;
  line-height: 20px;
}

.about-progress__back-end {
  width: 20%;
}

.about-progress__back-end_time {
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background: #000000;
}

.about-progress__front-end {
  width: 80%;
}

.about-progress__front-end_time {
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2F2F2;
}

.about-progress__back-end_title,
.about-progress__front-end_title {
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A0A0A0;
  margin-top: 14px;
}